<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/cartelera">
            <img src="../../../assets/images/logo.svg" style="right: 119px; height: 52px; padding-left: 40px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="padding-left: 299px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/cartelera">CARTELERA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/creacion">CREACION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>