<div class="div mb-3">
    <div class="container">
        <h1>FORMULARIO</h1>
    </div>
</div>

<div class="div">
    <div class="container">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="pelicula">
            <label for="floatingInput">Nombre de la Pelicula</label>
        </div>

        <div class="form-floating mb-3">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Todo publico</option>
            <option value="1">+12 años</option>
            <option value="2">+14 años</option>
            <option value="3">+16 años</option>
          </select>
            <label for="floatingSelect">Clasificacion</label>
        </div>

        <div class="form-floating mb-3">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Español</option>
            <option value="1">Ingles Subtitulado</option>
          </select>
            <label for="floatingSelect">Idioma</label>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Duracion</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-text">min</span>
        </div>

        <label for="basic-url" class="form-label">Estreno</label>
        <div class="input-group mb-3">
            <span class="input-group-text">Fecha</span>
            <input type="text" class="form-control" placeholder="Dia" aria-label="Dia">
            <span class="input-group-text">/</span>
            <input type="text" class="form-control" placeholder="Mes" aria-label="Mes">
            <span class="input-group-text">/</span>
            <input type="text" class="form-control" placeholder="Año" aria-label="Año">
        </div>

        <label for="basic-url" class="form-label">Trailer</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">URL</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Sinopsis</span>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="Director">
            <label for="floatingInput">Director</label>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Reparto</span>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>

        <label for="basic-url" class="form-label">Poster</label>
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <button class="btn btn-outline-primary" type="button" id="inputGroupFileAddon04">Subir</button>
        </div>

        <div class="input-group mb-3">
            <button type="button" class="btn btn-lg btn-primary">Agregar</button>
        </div>

    </div>
</div>